transformers
huggingface_hub
torch
cpm-kernels
sentence_transformers
accelerate
sentencepiece
llama-cpp-python
transformers_stream_generator
einops
optimum
auto-gptq
aiohttp>=3.10.2 # not directly required, pinned by Snyk to avoid a vulnerability
nltk>=3.8.2 # not directly required, pinned by Snyk to avoid a vulnerability
